#root {
  height: 100vh;
  margin: 0 auto;
}

.text_area:hover {
  border: 1px dashed gray;
}
.image_area:hover {
  border: 1px dashed gray;
}

.delete {
  display: none;
  place-content: center;
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  font-size: 10px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  cursor: pointer;
}
.heading:hover .delete {
  display: grid;
}
.sub_heading:hover .delete {
  display: grid;
}
.text:hover .delete {
  display: grid;
}
.button:hover .delete {
  display: grid;
}
.image_area:hover .delete {
  display: grid;
}
.container:hover .delete {
  display: grid;
}
.section:hover .delete {
  display: grid;
}
.div:hover .delete {
  display: grid;
}
.heading:hover {
  border: 1px solid red;
}
.sub_heading:hover {
  border: 1px solid red;
}
.text:hover {
  border: 1px solid red;
}
.button:hover {
  border: 1px solid red;
}
.image:hover {
  border: 1px solid red;
}
.container:hover {
  border: 1px solid red;
}
.section:hover {
  border: 1px solid red;
}
.div:hover {
  border: 1px solid red;
}
/* CSS */
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
  width: 100%;
  background-color: white;
  aspect-ratio: 16/9;
  overflow-y: auto;
}
.nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: rgb(30 41 59);
}
.nav_heading {
  font-size: 20px;
  font-weight: 600;
}
.nav_links {
  display: flex;
  align-items: center;
  gap: 16px;
}
.nav_links li button {
  padding: 5px 8px;
  outline: none;
  border-radius: 5px;
  font-size: 14px;
  background-color: #0f13d7;
  color: white;
}

.main_content {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  flex-grow: 1;
}
.main_section {
  background-color: white;
  grid-column: span 2 / span 2;
  padding-right: 25%;
  padding-left: 24px;
  display: flex;
  align-items: center;
}
.text_area {
  padding: 10px;
  margin-left: auto;
  color: black;
  border-radius: 10px;
  width: 85%;
  min-height: 40%;
}
.secondary_section {
  background-color: #0f13d7;
  position: relative;
}
.image_area {
  color: black;
  border-radius: 15px;
  width: 70%;
  height: 65%;
  position: absolute;
  top: 45%;
  left: -48px;
  transform: translateY(-50%);
}
.blue-button {
  background-color: #0f13d7;
  color: white;
}
.light-button {
  background-color: #ebebed;
}
.button {
  padding: 5px 8px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  font-size: 14px;
  width: fit-content;
  height: fit-content;
  word-break: break-all;
}
.button + .button {
  margin-left: 10px;
}

.heading {
  font-size: 24px;
  margin-bottom: 10px;
  width: fit-content;
  word-break: break-all;
  position: relative;
  color: black;
}
.sub_heading {
  font-size: 16px;
  margin-bottom: 10px;
  width: fit-content;
  word-break: break-all;
  font-weight: 700;
  position: relative;
  color: black;
}

.text {
  font-size: 14px;
  margin-bottom: 10px;
  width: fit-content;
  word-break: break-all;
  position: relative;
  color: black;
}
.image {
  width: 100%;
  height: 100%;
}
.image-container {
  display: flex;
}

.container {
  min-height: 100%;
  width: 100%;
  position: relative;
}
.section {
  min-height: 100px;
  width: 100%;
  position: relative;
}
.div {
  min-height: 100px;
  width: 100%;
  position: relative;
  padding: 10px;
}
.bg-transparent {
  background-color: transparent;
}
.bg-green {
  background-color: green;
}
.bg-yellow {
  background-color: rgba(239, 255, 10, 0.849);
}
.bg-blue {
  background-color: #0f13d7;
}
.single-column {
  display: grid;
}
.double-column {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.horizontal {
  display: flex;
  flex-wrap: wrap;
}
.vertical {
  display: flex;
  flex-direction: column;
}
